<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gerenciador de tarefas</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/home.css" th:href="@{/css/home.css}"  />

</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div class="container">
		<p th:text="${mensagem}"></p>
		<h4> Seja bem-vindo(a) ao Gerenciador de Tarefas!</h4><br/>
		<h4>O que deseja fazer hoje?</h2></h4><br/>
		<button href="/tarefas/inserir" class="btn btn-success">Adicionar Tarefa</button>


	
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>