.container{
	margin-top: 5%;
	
}

.img-navbar{
	width: 150px;
	margin-right: 5%
}

.categorias{
	color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: .25rem;
    display: inline-block;
    padding: 1rem;
}

.cat{display: inline-block; margin-top: 2%}


.check{
	margin: 3%
}

.cat-check{
	display: block;
}